.activememberscontianer {
    margin: 16px 26px 10px;
    background: white;
    border-radius: 30px;
    border: 1px solid #EFF0F6;
    padding: 28px 32px;
    box-shadow: 0 11px 60px rgba(226, 236, 249, 0.5);
}

.firstrowsection {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.searchsection {
    position: relative;
    background-color: #F9FBFF;
    padding: 3px 10px;
    border-radius: 10px;

}

.searchsection span {
    position: absolute;
    top: 6px;

}

.inputfield {
    margin-left: 24px;
    border: none;
    outline: none;
    padding: 8px;
    background: none;
}

.input::placeholder {
    color: #B5B7C0;
    font-size: 12px;
}

.dropdownsection {
    background-color: #F9FBFF;
    padding: 6px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.title {
    color: #7E7E7E;
    font-size: 12px;
}

.dropdownselect {
    outline: none;
    border: none;
    background: none;
}


.titlename {
    color: #16C098;
    font-size: 14px;
    margin-top: -12px;
    margin-bottom: 18px;
}

.customtable {
    font-size: 13px;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    border-collapse: separate;
    border-spacing: 0 3px;
    position: relative;
}

.customtable thead th {
    color: #B5B7C0;
    padding-bottom: 20px;
}



.customtable tbody td {
    padding: 18px 0;
    border-top: 1px solid #EFF0F6;
}

.active {
    width: 38px;
    font-size: 12px;
    margin-top: -11px;
    position: absolute;
    color: #00B087;
    background: rgba(22, 192, 152, 0.38);
    padding: 4px 10px;
    font-weight: 600;
    border: 1px solid #00B087;
    text-align: center;
    border-radius: 7px;
}

.inactive {
    width: 38px;
    font-size: 12px;
    border-radius: 7px;
    margin-top: -11px;
    position: absolute;
    background: #FFC5C5;
    padding: 4px 10px;
    border: 1px solid #DF0404;
    font-weight: 600;
    color: #DF0404;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.downpartsection {
    display: flex;
    justify-content: space-between;
}

.entrycount {
    color: #B5B7C0;
    font-size: 14px;
}

.pagination {
    display: flex;
    gap: 8px;
    font-size: 12px;

}

.actions {
    background: #F5F5F5;
    border: 1px solid #EFF0F6;
    border-radius: 4px;
    font-size: 12px;
}

.pagination .activenum {
    font-size: 12px;
    background: #5932EA;
    border: 1px solid #5932EA;
    border-radius: 4px;
    color: white;
    outline: none;
}

.pagination .inactivenum {
    font-size: 12px;
    background-color: #F5F5F5;
    border: 1px solid #EFF0F6;
    border-radius: 4px;
    color: #404B52;
}